<main class="news">
  <section class="news__heading">
    <h1 class="news__heading--text">Tin Tức</h1>
  </section>
  <section class="news__content">
    <div class="news__content--list row">
      <div class="news__content--item col-4" *ngFor="let item of ApiNew | slice:0:itemsToShow">
        <div class="news__content--item-img">
          <img src="{{item.img}} " alt="{{item.title}}">
        </div>
        <div class="news__content--item-date">
          <div class="news__content--item-title">
            <h3>{{item.title}}</h3>
          </div>
          <div class="news__content--item-date2">
            <i class="far fa-calendar"></i>
            <span>{{item.date}}</span>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="news__btn">
    <button *ngIf="!isAllItemsShown" (click)="loadMoreItems()">XEM THÊM</button>
    <button *ngIf="isAllItemsShown" (click)="loadLestItems()">ẨN BỚT</button>
  </section>
</main>
