<div class="signin">
  <div class="overlay" (click)="overlay()"></div>
  <form class="sign-in-form" [formGroup]="signInForm" (ngSubmit)="formSubmit$.next(true)">
    <div class="sign-in-flex">
      <h2>Đăng Nhập</h2>
      <div class="row-control">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username"/>
          <mat-error *ngIf="signInForm.get('username')?.hasError('required')">
            <span>Username không được bỏ trống</span>
          </mat-error>
          <mat-error *ngIf="signInForm.get('username')?.hasError('noWhiteSpaceValidator')">
            Username must not contain whitespace.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row-control">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
          <mat-error *ngIf="signInForm.get('password')?.hasError('required')">
            <span>Password không được bỏ trống</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row-control">
        <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
      </div>
      <div class="row-control row-actions">
        <button mat-raised-button color="primary" type="submit">Sign in</button>
      </div>
    </div>
  </form>
</div>

