<footer class="footer">
  <div class="footer__content">
    <section class="socialFoot">
      <div class="socialFootIcon">
        <a href="https://www.facebook.com/long.thang.5680899/" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
      </div>
      <div class="socialFootIcon">
        <a href="https://www.youtube.com/watch?v=jhJX-8x3TjE&list=RDMMjhJX-8x3TjE&start_radio=1" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <div class="socialFootIcon">
        <a href="https://www.instagram.com/_drake.19/" target="_blank">
          <i class="fab fa-instagram-square"></i>
        </a>
      </div>
    </section>
    <section class="copyRight">
      <a href="#">© 2018 Highlands Coffee. All rights reserved</a>
    </section>

    <section class="linkFooter">
      <i class="fab fa-youtube"></i>
      <a href="#">Đăng ký để nhận thông tin</a>
    </section>
    <section class="linkFooter">
      <i class="fas fa-user-tag"></i>
      <a href="#">customerservice@highlandscoffee.com.vn</a>
    </section>
  </div>

</footer>
