<div class="overlay" (click)="clickOverlay()"></div>
<div class="cart open" #cart >
  <div class="cart__content" >
    <div class="cart__content--header">
      <div class="cart__content--heading">
        <h2>Giỏ Hàng</h2>
      </div>
      <div class="cart__content--close" (click)="clickOverlay()">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="cart__content--Noproduct" *ngIf="isShow">
      <h3>Chưa có sản phẩm nào!</h3>
    </div>
    <div class="cart__content--product-list">
      <div  class="cart__content--product" *ngFor="let item of productCart; let i = index">
        <div class="cart__content--product--text">
          <div class="cart__content--product-img">
            <img src="{{item.img}}" alt="ảnh cart">
            <div class="cart__content--product-size" >
              <span>{{item.size}}</span>
            </div>
          </div>
          <div class="cart__content--product-title">
            <h3>{{item.title}}</h3>
            <div class="cart__content--product-number ">

              <div class="buy__content--btn-left">
                <span>số lượng</span>
                <input class="minus" type="button" value="-" (click)="minus(i)">
                <input class="buy__content--btn-quantity" [value]="item.value">
                <input class="plus" type="button" value="+" (click)="plus(i)">
              </div>
              <div class="buy__content--btn-right">
                <span> {{item.price | tien}} VNĐ</span>
              </div>
            </div>
            <div class="cart__content--product-buy">
              <span (click)="deleProduct(item.id)">Bỏ đơn hàng</span>
              <span [routerLink]="['/infoBuy', item.id]">Thanh toán</span>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>

  </div>
  <div class="cart__content--footer">
    <hr>
    <div class="cart__content--footer-title">
      <span>Tổng tiền:</span>
      <span>{{totalPriceChange | tien}} VNĐ</span>
    </div>
    <div class="cart__content--footer-btn">
      <button (click)=orderAllProduct()>Thanh Toán</button>
    </div>
  </div>
</div>
