/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

.mdc-snackbar__label{
  background-color:#00cc00;
  color: #000!important;
  font-weight: 700!important;
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.fade-in {
  animation: fadeInAnimation 1s ease-in;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
