<div class="detail">
  <section class="detail__desc" [ngClass]="{'animation': isAnimation}">
    <h1 class="detail__desc--heading">Đôi nét về : {{productData.title}}</h1>
    <p class="detail__desc--text">{{productData.des}}</p>
  </section>
  <section class="detail__categories detail__desc" scrollAnimation>
    <h1 class="detail__desc--heading"> Các Sản Phẩm</h1>
    <div class="detail__categories--list">
      <div #itemtest class="detail__categories--item">
        <div #carousel class="carousel">
          <div class="card "  *ngFor="let item of details| slice:0:itemsToShow"
               [routerLink]="['/detailProduct', item.id]">
            <div class="card__img">
              <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
            </div>
            <div class="card-body">
              <h2 class="card-title">{{item.title}}</h2>
              <p class="card-text">giá: <span>{{item.price.sizeS | tien}} VNĐ</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="detail__categories--btn">
      <button *ngIf="!isAllItemsShown" (click)="loadMoreItems()">XEM THÊM</button>
      <button *ngIf="isAllItemsShown" (click)="loadLestItems()">ẨN BỚT</button>
    </div>
  </section>
</div>
